#netos {
  .card-header{
    background-color: $black-bg;
    color: $smoke-bg;
    display: flex;
    .separated{
      flex: 1;
    }
    .card-title{
      margin: 10px 0;
    }
  }
  .card-body{
    a[data-toggle=collapse] i {
      color: $orange-color;
    }
  }
}